<div class="main-div">
  <div class="header-div">
    <input class="form-control search-bar" placeholder="Search" type="text" [(ngModel)]="searchKeyword">
    <button (click)="toggle()" id="bt">
        {{buttonName}}
    </button>
  </div>
  <hr>
    <ng-container *ngIf="show">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Add New Location</h3>
            </div>
            <div class="panel-body">
              <form (submit)="addMarker()" >
                <label>Location Name</label>
                <input type="text" [(ngModel)]="markerName" name="markerName">

                <label>Latitude</label>
                <input type="text" [(ngModel)]="markerLat" name="markerLat">

                <label>Longitude</label>
                <input type="text" [(ngModel)]="markerLng" name="markerLng">

                <label>Draggable</label>
                <select type="text" [(ngModel)]="markerDraggable" name="markerDraggable">
                  <option value="no">No</option>
                  <option value="yes">Yes</option>
                </select>
                <input type="submit" value="Map It!!">
              </form>
            </div>
          </div>
        </div>
      </div>

      <agm-map
      [latitude]="lat" 
      [longitude]="lng" 
      [zoom]="zoom" 
      [disableDefaultUI]=false 
      [zoomControl]="false"
      (mapClick)="mapClicked($event)">
      
    <agm-marker 
      *ngFor="let restaurant of restaurants | search : searchKeyword; let in = index"
      (markerClick)="clickedMarker(restaurant, in)"
      [latitude]="restaurant.lat" 
      [longitude]="restaurant.lng"
      [markerDraggable]="restaurant.draggable"
      (dragEnd)="markerDragEnd(restaurant, $event)">
  
      <agm-info-window>
        <carousel class="window-carousel">
          <slide *ngFor="let x of restaurant.images">
            <img src="{{x.img}}" alt="first slide">
          </slide>
        </carousel>
        <strong>{{restaurant.name}}</strong>
        <strong>{{restaurant.cost}}</strong>
        <strong>{{restaurant.address}}</strong>
      </agm-info-window>
  
    </agm-marker>
    </agm-map>
    </ng-container>
  
    <div class="row cards-list">
      
      <div class="card col-3" *ngFor="let restaurant of restaurants | search : searchKeyword; let in = index">
        
          <carousel style="display: block;">
            <slide *ngFor="let x of restaurant.images">
              <img src="{{x.img}}" alt="first slide" style="display: block; width: 400px;">
            </slide>
          </carousel>

        <p>Name: {{restaurant.name}}</p>
        <p>Cost for two: {{restaurant.cost}}</p>
        <p>Address: {{restaurant.address}}</p>
      </div>
    </div>
</div>