@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');


#sidebar {
  position: absolute;
  width: 55px;
  height: 100%;
  margin-left: 0px;
  background: #263238;
  padding-top: 65px;
}

#sidebar .nav a{
  color: #CFD8DC;
  font-size: 20px;
}

ul{
  padding-left: 16px;
}

#sidebar .nav a:hover{
  background: none;
  color: #ECEFF1;
}

.sidebar-icons{
  margin-top: 10px;
}

.navbar-default{
  padding: 0px;
}

.navbar-expand-lg{
  padding: 0px;
}

.navbar-brand{
  padding: 0px;
  margin: 0px;
}

.navbar-collapse{
  padding: 4px;
  background-color: #37474F;
}

img{
  background-repeat: no-repeat;
}

.navbar-icons{
  color: white;
  position: absolute;
  right: 12%;
  font-size: 18px;
}




