<h4>Add item (Asset Identification)</h4>
<mat-divider></mat-divider>
<mat-tab-group mat-align-tabs="start" animationDuration="0ms">
  <mat-tab label="General"> 
    <form [formGroup]="generalForm" (ngSubmit)="onSubmit()">
    <div class="container my-custom-scrollbar">
      <div class="row">
        <div class="col-sm-12">
          <br>
            <label>Related Business Units</label>
            <select class="form-control custom-select" formControlName="unit">
                <option value=""></option>
                <option *ngFor="let unit of businessUnits" [ngValue]="unit">{{unit}}</option>
            </select>
            <small>One or More Business Units (Organisation / Business Units) that are associated with this asset</small>
          <br>
          <br>
          
          <div>
          <label>Name</label>
          <input class="form-control" type="text" name="name" formControlName="name" required autocomplete="off" rows="5" >
          <small class="small">Name of the asset</small>
          </div>
          <br>
    
          <div>
          <label>Description</label>
          <textarea class="form-control" type="text" name="description" formControlName="description" required autocomplete="off" rows="5" ></textarea>
          <small class="small">OPTIONAL: Give a brief description for this asset</small>
          </div>
          <br>

          <!-- <div class="form-group">
          <label>Label</label>
          <span class="row"><input class="form-control input-field col-10" rows="5" ><button type="button" class="col-1 btn add-btn btn-primary">Add</button></span>
          <small class="small">OPTIONAL: Labels refer to the type of asset being created, typical examples are Confidential, Private, Etc. Labels are defined at Asset Management/Settings/Labels</small>
          </div> -->
          <label>Label</label>
          <select class="form-control custom-select" formControlName="label">
              <option value="">Choose One</option>
              <option *ngFor="let label of Label" [ngValue]="label">{{label}}</option>
          </select>
          <small class="small">OPTIONAL: Labels refer to the type of asset being created, typical examples are Confidential, Private, Etc. Labels are defined at Asset Management/Settings/Labels</small>
          <br>
          <br>
          
          
          <!-- <div class="form-group">
          <label>Type</label>
          <span class="row"><input class="form-control input-field col-10" rows="5" ><button type="button" class="col-1 btn add-btn btn-primary">Add</button></span>
          <small class="small">Based on the type of asset eramba will suggest you possible threats and vulnerabilities (at the time you perform Risk Management).
             If you are also interested in Data Asset Flows (Asset Management / Data Flows) you need to select "Data Asset"
          </small>
          </div> -->
          <label>Type</label>
          <select class="form-control custom-select" formControlName="type">
              <option value="">Data Asset</option>
              <option *ngFor="let type of Type" [ngValue]="type">{{type}}</option>
          </select>
          <small class="small">Based on the type of asset eramba will suggest you possible threats and vulnerabilities (at the time you perform Risk Management).
              If you are also interested in Data Asset Flows (Asset Management / Data Flows) you need to select "Data Asset"
           </small>
          <br>
          <br>

          <!-- <div class="form-group">
          <label>Assets</label>
          <input class="form-control" rows="5" >
          <small class="small">OPTIONAL: Select one or more related assets</small>
          </div> -->
          <label>Assets</label>
          <select class="form-control custom-select" formControlName="asset">
              <option value=""></option>
              <option *ngFor="let asset of Assets" [ngValue]="asset">{{asset}}</option>
          </select>
          <small class="small">OPTIONAL: Select one or more related assets</small>
          <br>
          <br>

          <!-- <div class="form-group">
          <label>Liabilities</label>
          <span class="row"><input class="form-control col-10 input-field" rows="5" ><button type="button" class="col-1 btn add-btn btn-primary">Add</button></span>
          <small class="small">OPTIONAL: Select one or more liabilities (Organisation / Liabilities) that are associated with this asset</small>
          </div> -->
          <label>Liabilities</label>
          <select class="form-control custom-select" formControlName="liability">
              <option value=""></option>
              <option *ngFor="let liability of Liabilities" [ngValue]="liability">{{liability}}</option>
          </select>
          <br>
          <br>

          <!-- <div class="form-group">
              <label>New Review Date</label>
              <input class="form-control" rows="5" >
              <small class="small">Select a date when this asset should be reviewed. After creating this assets two review records will be created
                 - one with todays date and another with the date you set on this field</small>
              </div> -->
              <br>
          </div>
      </div>
    </div>
    <hr>
    <div class="btn-div">
    <button class="btn" style="margin: 10px">Close</button>
    <button class="btn btn-primary" style="margin: 10px" type="submit">Save</button>
    </div>
  </form>

  </mat-tab>

  <mat-tab label="Asset Owner"> 
  
      <div class="container">
          <div class="row">
            <div class="col-sm-12">
             
              <div>
                <label>Owner</label>
                <span class="row"><input type="text" class="form-control input-field col-10" [(ngModel)]="newServerName"><button type="button" class="col-1 btn add-btn btn-primary">Add</button></span>
                <small class="small">Select one or more user accounts or groups that are associated as owners of this asset</small>
              </div>
              <br>
        
              <div>
                  <label>Guardian</label>
                  <span class="row"><input type="text" class="form-control input-field col-10" [(ngModel)]="newServerName"><button type="button" class="col-1 btn add-btn btn-primary">Add</button></span>
                  <small class="small">Select one or more user accounts or groups that are associated as guardians of this asset</small>
                  </div>
              <br>
        
              <div>
                  <label>User</label>
                  <span class="row"><input type="text" class="form-control input-field col-10" [(ngModel)]="newServerName"><button type="button" class="col-1 btn add-btn btn-primary">Add</button></span>
                  <small class="small">Select one or more user accounts or groups that are associated as users of this asset</small>
                  </div>
              <br>
              
            </div>
          </div>
        </div>
        <hr>
        <div class="btn-div">
            <button class="btn" style="margin: 10px">Close</button>
            <button class="btn btn-primary" style="margin: 10px" (click)="onAddServer($event)">Save</button>
        </div>    
  </mat-tab>
  
  <mat-tab label="Asset Classification">

      <div class="container">
          <div class="row">
            <div class="col-sm-12">
                <div class="dropdown actions-dropdown">
                    <button class="btn card dropdown-toggle assets-dropdown-toggle" type="button" data-toggle="dropdown">Classification: Availability
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu asset-dropdown">
                      <li class="dropdown-items container"><input type="text" style="width: 100%" [(ngModel)]="searchKeyword"class="form-control"></li>
                    </ul>
                </div>

                <div class="dropdown actions-dropdown">
                    <button class="btn card dropdown-toggle assets-dropdown-toggle" type="button" data-toggle="dropdown">Classification: Confidentiality
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu asset-dropdown">
                        <li class="dropdown-items container"><input type="text" style="width: 100%" [(ngModel)]="searchKeyword"class="form-control"></li>
                    </ul>
                </div>

                <div class="dropdown actions-dropdown">
                    <button class="btn card dropdown-toggle assets-dropdown-toggle" type="button" data-toggle="dropdown">Classification: Integrity
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu asset-dropdown">
                        <li class="dropdown-items container"><input type="text" style="width: 100%" [(ngModel)]="searchKeyword"class="form-control"></li>
                    </ul>
                </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="btn-div">
            <button class="btn" style="margin: 10px" data-dismiss="modal">Close</button>
            <button class="btn btn-primary" style="margin: 10px" (click)="onAddServer($event)">Save</button>
        </div>
  </mat-tab>
</mat-tab-group>
  