<div class="main-div">
  <div>
    <div class="heading-div">
      <p class="heading"><i class="material-icons">layers</i><span class="asset-title">Asset Identification</span></p>
      <small class="small">Describes all assets in the scope of this GRC program.</small>
    </div>
    <div class="toolbar-div">
      <hr class="hr-top"> 
      <mat-toolbar class="main3">
        <i class="material-icons slash">home</i>
        <a class="text-link" href="#">Dashboard</a><span class="slash">/</span><a class="text-link" href="#">Internal Controls</a><span class="slash">/</span><a class="text-link" href="#">Default Index</a>

        <!-- <div class="dropdown actions-dropdown">
            <p class="btn dropdown-toggle actions-dropdown-toggle" data-toggle="dropdown">Actions
            <span class="caret"></span></p>
            <ul class="dropdown-menu">
              <li (click)="openDialog()" class="dropdown-items"><i class="material-icons icon-align">add</i>Add</li>
              <li class="dropdown-items"><i class="material-icons icon-align">playlist_add</i>Import</li>
            </ul>
        </div> -->
        <div class="btn-group actions-dropdown">
            <p class="btn dropdown-toggle actions-dropdown-toggle" data-toggle="dropdown">
              Actions
            </p>
            <ul class="dropdown-menu dropdown-menu-right">
              <li (click)="openDialog()" class="dropdown-items"><i class="material-icons icon-align">add</i>Add</li>
              <li class="dropdown-items"><i class="material-icons icon-align">playlist_add</i>Import</li>
            </ul>
        </div>

      </mat-toolbar>
      <hr class="hr-bottom">
    </div>

  </div>

  <div class="background">
    <div class="card">
      <div class="card-header">
        <h4 class="all-items">All Items</h4>
        <p class="results">10 Results - Filter that shows everything</p>
      </div>

      <div class="card-body">
        <div class="example-button-row" >
        <p class="btn btn-sm"><span class="btn-text">LIMIT IS UNLIMITED</span></p>
        <p class="btn btn-sm"><span class="btn-text">ORDER BY CREATED</span></p>
        <p class="btn btn-sm"><span class="btn-text">SORT IS DESCENDING</span></p>
        </div>
        <br>

        <div class="filter row">
          <p class="filter-text">Filter: </p><input placeholder="Type to filter..." type="text" style="margin:15px;float: right;width: auto;" [(ngModel)]="searchKeyword">
        </div>
      </div>

      <!-- <table mat-table [dataSource]="assets" class="mat-elevation-z8">

        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)"
                          [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>
      
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let element"><i class="material-icons">menu</i></td>
        </ng-container>
      
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell *matCellDef="let element"><p class="btn status-dropdown"><span class="status-dropdown-span">REVIEW EXPIRED<i class="material-icons">keyboard_arrow_down</i></span></p> </td>
        </ng-container>
      
        <ng-container matColumnDef="reviews">
          <th mat-header-cell *matHeaderCellDef> Reviews </th>
          <td mat-cell *matCellDef="let element"> <span class="status-dropdown-span">2<i class="material-icons">keyboard_arrow_down</i></span></td>
        </ng-container>
      
        <ng-container matColumnDef="related_business_units">
          <th mat-header-cell *matHeaderCellDef> Related Business Units </th>
          <td mat-cell *matCellDef="let element"> {{element.unit}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name</th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
      
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>
      
        <ng-container matColumnDef="label">
          <th mat-header-cell *matHeaderCellDef> Label </th>
          <td mat-cell *matCellDef="let element"> {{element.label}} </td>
        </ng-container>
      
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef> Type </th>
          <td mat-cell *matCellDef="let element"> {{element.type}} </td>
        </ng-container>
      
        <ng-container matColumnDef="liabilities">
          <th mat-header-cell *matHeaderCellDef> Liabilities </th>
          <td mat-cell *matCellDef="let element"> {{element.liability}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
        </tr>
      </table> -->

      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th><input type="checkbox"></th>
              <th scope="col">Actions</th>
              <th scope="col">Status</th>
              <!-- <th scope="col">Reviews</th> -->
              <th scope="col">Related Business Units</th>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Label</th>
              <th scope="col">Type</th>
              <th scope="col">Liabilities</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let asset of assets | search : searchKeyword; let in = index">
              <!-- <th scope="row">1</th> -->
              <td><input type="checkbox"></td>
              <td>
                <i class="material-icons btn" id="dropdownMenuButton" data-toggle="dropdown">menu</i>
                 <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <li class="dropdown-item"><i class="material-icons menu-dropdown">edit</i>Edit</li>
                    <li class="dropdown-item"><i class="material-icons menu-dropdown">history</i>History</li>
                    <li class="dropdown-item" routerLink="/asset" (click)="delete(asset)"><i class="material-icons menu-dropdown">delete</i>Delete</li>
                    <li class="dropdown-item"><i class="material-icons menu-dropdown">share</i>Share</li>
                  </ul>
              </td>
              <td><p class="btn status-dropdown"><span class="status-dropdown-span">REVIEW EXPIRED<i class="material-icons">keyboard_arrow_down</i></span></p></td>
              <!-- <span class="status-dropdown-span">2<i class="material-icons">keyboard_arrow_down</i></span> -->
              <td>{{asset.unit}}</td>
              <td>{{asset.name}}</td>
              <td>{{asset.description}}</td>
              <td>{{asset.label}}</td>
              <td>{{asset.type}}</td>
              <td>{{asset.liability}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>

</div>