.main-div{
    /* margin-left: 52px; */
    position: relative;
    margin-left: 55px;
    margin-top: 30px;
}

.mat-elevation-z8{
    width: 100%;
}

.main3{
    height: 40px;
}

.heading{
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
}

.asset-title{
    margin-left: 7px;
    font-size: 18px;
    font-weight: 400;
}

.small{
    color: grey;
    padding-top: 2px;
}

.heading-div{
    margin-left: 20px;
}

.main3{
    background-color: white;
}

.hr-top{
    margin-bottom: 0px;
    margin-top: 40px;
}

.hr-bottom{
    margin-top: 0px;
}

.text-link{
    font-size: 13px;
    font-weight: 400;
    color: black;
    
}

.slash{
    font-size: 13px;
    color: black;
    font-weight: 400;
}

.background{
    background-color: #f2f2f2f2;
}

.all-items{
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.results{
    margin-bottom: 10px;
}

.card{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
}

.card-header{
    background-color: white;
}

.btn-sm{
    padding: 3px;
    margin-left: 3px;   
    margin-bottom: 10px;
}

.btn-text{
    font-weight: 400;
    padding: 5px;
    font-size: 10px;
    background-color: #19BCD4;
    color: white;
}

.filter{
    float: left;
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
}

.filter-text{
    margin-bottom: 0px;
}

.add-btn{
    width: 100%;
    height: 100%;
}

.actions-dropdown{
    position: absolute;
    right: 20%;
}

.actions-dropdown-toggle{
    margin-bottom: 0px;
    font-size: 13px;
    font-weight: 400;
}

.dropdown-items{
    font-size: 14px;
    font-weight: 100px;
    margin-left: 3px;
    padding: 3px;
    /* float: left; */
    display:flex;
    flex-direction: row;
    align-items: center;
}

.dropdown-items:hover{
    background-color: #f2f2f2f2;
}

.icon-align{
    margin-right: 15px;
    margin-left: 10px;
}

.status-dropdown{
    background-color: #F0AD4E;
    display:flex;
    width: 113px;
    flex-direction: row;
    align-items: center;
    color: white;
    margin: 0px;
    border: 0px;
    padding: 0px;
    padding-left: 3px;
}

.status-dropdown-span{
    font-size: 11px;
    font-weight: 400;
    display:flex;
    flex-direction: row;
    align-items: center;
}

.dropdown-menu{
    left: 0;
    right: auto;
}